# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local development settings
*.log
.env
.env.*

# Database
*.db
*.sqlite3

# Odoo specific

.DS_Store**/firebase-key/*.json
*.pem
*.p12
*.pfx
*.key

